[project]
name = "claude-skill-artifacts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "anthropic>=0.75.0",
    "logging>=0.4.9.6",
    "mcp-use>=1.4.1",
]
